@model AssetTracker.Core.Models.EntityModel.Department

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading">Department Details</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OrganizationBranch.OrganizationBranchName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrganizationBranch.OrganizationBranchName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DepartmentName)
                    </dd>

                </dl>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Edit" class="btn btn-warning" onclick="location.href = '@Url.Action("Edit", "Department", new { id = Model.DepartmentID })'" />
                    <input type="button" value="View All" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Department")'" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
