@model IEnumerable<AssetTracker.Core.Models.EntityModel.Department>

@section css{
    @Styles.Render("~/Content/datatablecss")
}


@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">View All Departments</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="Create" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "Department")'" />

                </div>
            </div>
            <table class="table table-hover table-background table-bordered">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model=>model.OrganizationBranch.Organization.OrganizationName)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.OrganizationBranch.OrganizationBranchName)

                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrganizationBranch.Organization.OrganizationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrganizationBranch.OrganizationBranchName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.DepartmentID}) |
                                @Html.ActionLink("Details", "Details", new {id = item.DepartmentID}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.DepartmentID})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datatablejs")
    <script>
        $(document).ready(function () {
            $(".table").DataTable();
        });
    </script>
}
