@model IEnumerable<AssetTracker.Core.Models.Organization>
@section css{
    @Styles.Render("~/Content/datatablecss")
}
@{
    ViewBag.Title = "Index";
}
<div class="container">
   <div class="panel panel-primary">
        <div class="panel-heading">View All Organizations</div>
           <div class="panel-body">
               <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="Create" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "Organization")'" />
                    
                </div>
           </div>
           <table class="table table-hover table-background table-bordered">
               <thead>
               <tr>
                   <th>
                       @Html.DisplayNameFor(model => model.OrganizationName)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.OrganizationShortName)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.OrganizationLocation)
                   </th>
                   <th>Actions</th>
               </tr>
               </thead>
               <tbody>
               @foreach (var item in Model)
               {
                   <tr>
                       <td>
                           @Html.DisplayFor(modelItem => item.OrganizationName)
                       </td>
                       <td>
                           @Html.DisplayFor(modelItem => item.OrganizationShortName)
                       </td>
                       <td>
                           @Html.DisplayFor(modelItem => item.OrganizationLocation)
                       </td>
                       <td>
                           @Html.ActionLink("Edit", "Edit", new {id = item.OrganizationID}) |
                           @Html.ActionLink("Details", "Details", new {id = item.OrganizationID}) |
                           @Html.ActionLink("Delete", "Delete", new {id = item.OrganizationID})
                       </td>
                   </tr>
               }
               </tbody>
           </table>
       </div>
   </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/datatablejs")
    <script>
        $(document).ready(function () {
            $(".table").DataTable();
        });
    </script>
}
